* {
    padding:0;
    margin:0;
  }
  html, body {
    height: 100%;
    background-color:rgb(50, 205, 76);
  }
    


.main{
    background-color:yellowgreen;
    height: 100%;
    bottom: 10px; 
   
    position: absolute;
    width:100%;
   
     display: flex;
     flex-direction: column; 
     
       border-style: double;
       border-width: thick;
       /* justify-content:center; */
       /* align-items:flex-start; */
       text-align: center; 
      
    }
    /* .main > * {
        padding: 10px;
        flex: 5 100%;
      } */
 .itemlevel1{
   
    display: flex;
     flex-direction: row; 
    width: 100%;
    justify-content: space-between;
 }
 .top1
 {
     /* flex-flow: nowrap; */
     justify-content: center;
     border-style: solid;
       border-width: thick;
       padding: 10px;
 }
 .itemlevel2{
   
   /* color:aqua; */
   /* width: 100%; */
   background-color: aqua;
   flex: strech;
 }
 .side{
     width :20%;
      height: 100%;
      bottom:0;
 }
 .left{
    width :80%;
    background-color: white;
 }